@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
    backface-visibility: hidden;
    transform: translateZ(0);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #141415;
    color: white;
}

body,
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

section {
    width: 80vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

section h1 {
    margin-bottom: 5vh;
}

h1 {
    font-size: 40px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 800;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.logo {
    width: 5vw;
    margin: auto;
}

p {
    font-size: 1.5rem;
    font-family: 'Inter', 'sans-serif';
    font-weight: 500;
    margin: 2vh;
    color: #7c7e82;
}

.btn {
    padding: 1rem;
    background-color: #14c9fd;
    border-radius: 25px;
    width: 40%;
    text-decoration: none;
    color: white;
    margin: auto;
    margin-top: 5vh;
    font-family: 'Inter', 'sans-serif';
    border-radius: 25px;
    cursor: pointer;

    box-shadow: 0 0 10px rgba(0, 255, 255, 0.1),
        0 0 20px rgba(0, 255, 255, 0.1),
        0 0 40px rgba(0, 255, 255, 0.1);
    transition: transform 0.3s ease;
}


.imagem-principal {
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    cursor: pointer;
    text-align: center;
    background: #1e1e1e;
    /* Cor do fundo da caixa */
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.1),
        0 0 20px rgba(0, 255, 255, 0.1),
        0 0 40px rgba(0, 255, 255, 0.1);
    transition: box-shadow 0.3s ease;
}

/* Efeito ao passar o mouse */
.imagem-principal:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.1),
        0 0 20px rgba(0, 255, 255, 0.1),
        0 0 40px rgba(0, 255, 255, 0.1);
}


.game-icon {
    margin-bottom: 2vh;
    width: 5vw;

}


.ofertas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.oferta {
    width: 30vw;
    height: auto;
    background-color: white;
    margin: 10px;
    border-radius: 12px;
    transition: transform 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.nome-oferta {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2vh;
    color: white;
}

.btn-compra {
    width: 60%;
    background-color: #14c9fd;
    padding: 1rem;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-compra:hover {
    transform: scale(1.05) !important;
}


.garantia {
    width: 50%;
    margin-top: 5vh;
}

.oferta-bottom {
    margin-top: 7vh;
}

.descricao-oferta {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.descricao-oferta p {
    font-size: 0.9rem;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
    color: white;
}

.preco {
    display: flex;
    flex-direction: row;
}

.preco-novo {
    font-size: 1.8rem;
    font-weight: 800;
    color: #24d800;
}

.preco-anterior {
    text-decoration: line-through;
}

.linha-divisoria {
    height: 1px;
    color: #ffffff;
    width: 70%;
}

.btn,
.btn-compra {
    text-decoration: none !important;
    color: white;
    transition: 0.5s ease;
}

.btn:hover,
.btn-compra:hover {
    transform: scale(1.05) !important;
}

footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
}

footer p {
    font-size: 1rem;
}


.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colunas na linha de cima */
    grid-auto-rows: 1fr;
    /* Altura automática para os cards */
    gap: 10px;
    /* Espaçamento entre os cards */
    justify-content: center;
    /* Centraliza a segunda linha */
    align-items: center;
}

.bullet-points {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 4 colunas na linha de cima */
    grid-auto-rows: 1fr;
    /* Altura automática para os cards */
    gap: 20px;
    /* Espaçamento entre os cards */
    justify-content: center;
    /* Centraliza a segunda linha */
    align-items: center;
    margin-top: 5vh;
}

.bullet {
    background-color: #242424;
    border: 1px solid #333;
    border-radius: 12px;
    width: 35vw;
    padding: 1rem;

}

.bullet-title {
    font-weight: 700;
    color: white;
    margin-bottom: 5vh;
}

.bullet-description {
    color: white;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 2vh;
}



/* CSS Base já está definido acima */

/* Mobile (até 600px) */
@media (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
        margin: auto;
        margin-bottom: 2vh !important;
        width: 90%;
        margin-top: 2vh !important;
    }

    body,
    section {
        padding: 0;
        margin: 0;
    }

    h3 {
        font-size: 1rem;
        width: 80%;
        margin: auto;
    }

    section {
        width: 90vw;
        margin: auto;
        margin-top: 5vh;
    }

    p {
        font-size: 1rem;
        margin: 0;
        width: 85%;
        margin: auto;
    }

    .game-icon {
        width: 10vw;
    }

    .logo {
        width: 15vw;
        height: 15vw;
    }

    .imagem-principal {
        width: 100%;
        margin: auto;
        margin-top: 3vh;
    }

    a {
        width: 70vw !important;
        font-size: 0.9rem;
    }

    .ofertas {
        flex-direction: column;
        margin-top: 2vh;
    }

    .oferta {
        width: 100%;
        margin: auto;
        margin-bottom: 5vh;
    }

    .preco-novo {
        font-size: 1.5rem;
    }

    .nome-oferta,
    .preco {
        margin-bottom: 2vh;
    }

    .faq {
        width: 100%;
    }

    .faq-item {
        width: 100%;
        height: auto;
        padding: 1rem;
        justify-content: center;
    }

    .faq p {
        font-size: 0.5rem;

    }

    footer {
        margin-bottom: 5vh;
    }

    footer p {
        font-size: 0.8rem;
    }

    .descricao-setor h3 {
        font-size: 0.7rem;
        font-weight: 400;
    }
}